<strong>
  <span data-defer-to="<%= view.defer_key %>-controller">...</span>
  <span data-defer-to="<%= view.defer_key %>-sql">...</span>
  <span data-defer-to="<%= view.defer_key %>-views">...</span>
</strong>